*{margin:0 ; 
  padding: 0;}

header{
    display: flex;
    justify-content: space-between;
    background-color: #4B5246;
    height: 78px;
    align-items: center;
    padding: 0 40px;
}
header nav{
    font-size: 18px;
    color: #E0E4CD;
}
a{
    color: inherit;
    text-decoration: none;
}
h1{
    font-size: 40px;
}
img{

}

footer{
    display: flex;
    justify-content: space-between;
    background-color: #4B5246;
}